.httr-oauth
.DS_Store
.quarto
.Rproj.user
.Rhistory
.Rprofile
.Renviron
.RData
.Ruserdata
.Rproj
ropensci_onboarding.md
data-raw/normals/*
doc
Meta
inst/doc
devtests.R
/doc/
/Meta/
docs
renv
renv.lock

