http_interactions:
- request:
    method: get
    uri: https://dd.meteo.gc.ca/climate/observations/normals/csv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /climate/observations/normals/csv</title>\n </head>\n
        <body>\n<h1>Index of /climate/observations/normals/csv</h1>\n<pre><img src=\"/icons/blank.gif\"
        alt=\"Icon \"> <a href=\"?C=N;O=D\">Name</a>                           <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr><img src=\"/icons/back.gif\" alt=\"[PARENTDIR]\">
        <a href=\"/climate/observations/normals/\">Parent Directory</a>                                    -
        \  \n<img src=\"/icons/folder.gif\" alt=\"[DIR]\"> <a href=\"1981-2010/\">1981-2010/</a>
        \                    2019-06-13 06:58    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: 2020-08-22 18:46:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://dd.meteo.gc.ca/climate/observations/normals/csv/1981-2010
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Inde[...]
